body{
    font-family: Nunito;
}
button{
    background-color: #EC4067;
    color: white;
    border-radius: 5px;
    padding: 7px;
    border-color:none;
}

.top_links{
    display: inline-flex;
    padding-left: 0px;
}
.top_links li{
    list-style: none;
    display: inline-block;
    padding: 15px;
    color: gray;

}
.top_links ul{
    padding-left: 25px;
    padding-right: 0px;
    margin-right: 0px;
    float: left;
}
.top_links  h2 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top:20px;
}
.nurture li {
    list-style: none;
    display: inline;
    
}

.nurture{
    
    padding-left: 40px;
    padding-bottom: 100px;
   

}
.nurture h2{
    color: #EC4067;
    display: inline;
}
.nurture img{
    display: inline;
    padding-right: 300px;
    padding-top: 0px;
    height: 500px;
    margin-top: 0px;
    width: 500px;
    float: right;
    border-top: 0px;
    position: relative;
    top: -150px;
}
    
    

.stories{
    padding-left: 40px;
    padding-top: 100px;
    padding-bottom: 100px;

}
.stories img{
    float: left;
    width: 350px;
    height: 250px;
    padding-left: 0px;
    padding-right: 100px;
}
.board_meeting{
    padding-left: 40px;
    padding-bottom: 100px;
}
.board_meeting img{
    display: inline;
    padding-right: 600px;
    padding-top: 0px;
    height: 250px;
    margin-top: 0px;
    width: 350px;
    float: right;
    border-top: 0px;
    position: relative;
    top: -50px;
}
.Graduation{
    padding-bottom: 30px;
    padding-left: 40px;
}
.tms{
    padding-left: 40px;
}
.tms img{
    display: inline-flex;
}
.project{
    padding-left: 40px;
}
.still{
    padding-left: 40px;
}
.footer{
    padding-left: 200px;
}