body{
    font-family: Nunito;
}
button{
    background-color: #EC4067;
    color: white;
    border-radius: 5px;
    padding: 7px;
    border-color:none;
    border: 1px solid #EC4067;
    
}
button:hover{
    background-color: white;
    color: #EC4067;
    border: 1px solid #EC4067;
}

.top_links{
    display: inline-flex;
    padding-left: 0px;
    color: gray;
}
.top_links a{
    list-style: none;
    
    padding: 15px;
    color: gray;
    text-decoration: none;
    
}
.top_links a:hover{
    color: aqua;

}



.top_links  h2 {
    padding-left: 20px;
    padding-right: 700px;
    padding-bottom: 20px;
    padding-top:20px;
}
.nurture li {
    list-style: none;
    display: inline;
    
}

.nurture{
    
    padding-left: 40px;
    padding-bottom: 100px;
   

}
.nurture h2{
    color: #EC4067;
    display: inline;
}
.nurture img{
    display: inline;
    padding-right: 300px;
    padding-top: 0px;
    height: 500px;
    margin-top: 0px;
    width: 500px;
    float: right;
    border-top: 0px;
    position: relative;
    top: -150px;
}
    
    

.stories{
    padding-left: 40px;
    padding-top: 100px;
    padding-bottom: 100px;


}
.stories h6{
    display: inline;
}
.stories img{
    float: left;
    width: 350px;
    height: 250px;
    padding-left: 0px;
    padding-right: 100px;
}
.board_meeting{
    padding-left: 40px;
    padding-bottom: 200px;
}
.board_meeting img{
    display: inline;
    padding-right: 550px;
    padding-top: 0px;
    height: 250px;
    padding-left: 20px;
    margin-top: 0px;
    width: 350px;
    float: right;
    border-top: 0px;
    position: relative;
    top: -50px;
}
.Graduation{
    padding-bottom: 30px;
    padding-left: 40px;
    padding-bottom: 200px;
}
.Graduation img{
    float: left;
    width: 350px;
    height: 250px;
    padding-left: 0px;
    padding-right: 100px;
}
.tms{
    padding-left: 40px;
}
.tms h6{
    display: inline;

    
}


.Rose{
    display: inline;
    float: left;
    padding-left: 40px;


}
.Rose img{
    height: 200px;
    width: 200px;
    
    padding-right: 100px;
}

        
    
    
    
}
.byron{
    display: inline;
    float: left;
    padding-left: 0px;
    
}
.byron img{
    height: 200px;
    width: 200px;
    padding-right: 100px;
}
.Raph{
    display: inline;
    float: left;
    padding-left: 0px;

}
.Raph img{
    height: 200px;
    width: 200px;
    padding-right: 100px;
    
}
.Christine{
    display: block;
    float: left;
    padding-left: 0px;


}
.Christine img{
    height: 200px;
    width: 200px;

}
.project{
    padding-left: 40px;
    padding-bottom: 100px;
    display: block;
    padding-top: 500px;
}
.project img{
    height: 200px;
    width: 500px;
    float: right;
    
    padding-left: 50px;
    padding-right: 300px;
    padding-top: 50px;

}
.project h6{
    display: inline;
}
.still{
    padding-left: 40px;
}
.footer{
    padding-left: 500px;
    background-color: #F3E9DD;
    padding-bottom: 50px;
    padding-top: 50px;
}